{% extends "layout.html" %}

{% block body %}



<div class="panel">
  
  


  <label for="restaurants">Hotels</label>
  <select name="hotels">
    {% for hotel in hotels %}
      <option value="{{hotel.name}}">{{hotel.name}}</option> 
    {% endfor %}
  </select>

    <hr>
  <label for="restaurants">Restaurants</label>
  <select name="restaurants">

    {% for restaurant in restaurants %}
      <option value="{{restaurant.name}}">{{restaurant.name}}</option> 
    {% endfor %}
  </select>

    <hr>
  <label for="activities">Activities</label>
  <select name="activities">

    {% for activity in activities %}
      <option value="{{activity.name}}">{{activity.name}}</option> 
    {% endfor %}
  </select>

 
</div>

 

{% endblock %}