html, body {
  font-family: lucida;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  height: 100%;
  margin: 0;
  padding: 0; }

.container {
  margin-left: 0px;
  margin-right: 0px;
  display: inline-block; }

.navbar {
  height: 2em;
  margin-bottom: 0; }
  .navbar button {
    background-color: #adadad;
    border-color: black;
    margin-top: .5em;
    margin-left: .5em;
    vertical-align: top;
    border-radius: 0; }

.navigation {
  position: fixed;
  width: 100vw;
  top: 0; }
  .navigation div {
    display: inline-block; }

.box {
  top: 50px;
  height: 100%;
  position: fixed; }
  .box .inline {
    display: inline-block;
    vertical-align: top; }

#map {
  position: absolute;
  width: 100vw;
  z-index: 1;
  height: 100%; }

.planning {
  border: solid black 1px;
  width: 20vw;
  background-color: rgba(76, 25, 25, 0.6);
  height: 100%;
  position: absolute;
  z-index: 2; }
  .planning hr {
    margin-bottom: .3em; }
  .planning h3 {
    font-size: 20px, 5vw;
    color: gray;
    text-align: center;
    background-color: rgba(76, 25, 25, 0.6);
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px; }
  .planning label {
    margin-left: 5%;
    margin-bottom: .5em; }
  .planning select {
    margin-left: 5%;
    width: 90%;
    border-radius: 10px; }

.day {
  text-align: center;
  width: 10vwpx;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid black 1px;
  position: absolute;
  z-index: 2;
  margin-left: 90vw; }
  .day hr {
    margin: 3px; }
  .day h3 {
    font-size: 30px; }
  .day button {
    background-color: #adadad;
    border-color: black;
    margin-top: 0;
    margin-left: 0;
    vertical-align: top;
    border-radius: 0;
    width: 40px; }
  .day li {
    text-align: left;
    font-size: 20px;
    list-style: none; }
  .day .today li {
    font-size: 15px; }
